{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

Automation is picking up steam. Advances in artificial intelligence mean that it is becoming no more difficult to train algorithms to do intellectual tasks, as it is to build robots for physical work. The increasing automation of white-collar jobs will reshape the way nearly all professionals work.

It’s a big topic with economic, political and corporate implications that will likely have an impact on you, our subscribers. We will be focusing our reporting efforts on this story in 2017, and we would like to ask for your help in shaping our coverage. What do you want to find out? What would you like us to help you understand? What stories should we be reporting more of? What should we know when we begin reporting?

<p class="last">Please fill out the form below - your responses will be very helpful in our reporting.</p>

{% endmarkdown %}
{% endblock %}
